<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">{{charts.chart1.leyend}}</h4>

        <app-donut-chart
          [chartLabels]="charts.chart1.labels"
          [chartData]="charts.chart1.data"
          chartType="doughnut"
        ></app-donut-chart>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">{{charts.chart2.leyend}}</h4>

        <app-donut-chart
        [chartLabels]="charts.chart2.labels"
        [chartData]="charts.chart2.data"
        chartType="doughnut"
        ></app-donut-chart>
      </div>
    </div>
  </div>

</div>

